body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  /* Fondo negro */
  color: white;
  /* Texto blanco */
 
}


/* BARRA */
header {
  background-color: #333;
  /* Color oscuro para la barra */
  margin-top: 10px; /* Añade margen superior */
  margin-bottom: 10px; /* Añade margen inferior */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que la navbar esté por encima de otros elementos */
  background-color: #333; /* Cambia el color de fondo según tu diseño */
  padding: 10px 0; /* Añade padding para que la barra sea más alta */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle un efecto de elevación */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #555;
  /* Color al pasar el ratón */
  border-radius: 5px;
}

